.App {
  text-align: center;
  min-height: 100vh;
  background-color: wheat;
}
.Content-container {
  border: 10px solid rgba(245, 245, 245, 0.473);
  background-color: powderblue;
  height: 75%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-warning{
  color: red;
  font-size: smaller;
  background-color: rgb(247, 231, 11);
}

.App a {
  color: #f60;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
